#!/usr/bin/env python3

PACKAGE = 'badger_amcl'

from math import pi
from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, int_t, double_t, str_t, bool_t

gen = ParameterGenerator()

gen.add("restore_defaults", bool_t, 0, "Restore the default configuration", False)
gen.add("update_min_d", double_t, 0, "Translational movement required before performing a filter update.", .2, 0, 5)
gen.add("update_min_a", double_t, 0, "Rotational movement required before performing a filter update.", pi/6, 0, 2*pi)
gen.add("transform_publish_rate", double_t, 0, "Rate (Hz) at which to publish the transform between map and odom to tf.", 50.0, 0.1, 100.0)
gen.add("save_pose_to_file_rate", double_t, 0, "Maximum rate (Hz) at which to store the last estimated pose and covariance to file. This saved pose will be used on subsequent runs to initialize the filter if the param server does not have the parameters stored. 0.0 to disable.", 0.1, 0.0, 10.0)
gen.add("transform_tolerance", double_t, 0, "Time with which to post-date the transform that is published, to indicate that this transform is valid into the future.", .1, 0, 2)
gen.add("save_pose", bool_t, 0, "If the node should save the pose to the param server and to a persistent file.", True)

# 2D parameters
gen.add("laser_min_range", double_t, 0, "Minimum scan range to be considered; -1.0 will cause the scanner's reported minimum range to be used.", -1, -1, 1000)
gen.add("laser_max_range", double_t, 0, "Maximum scan range to be considered; -1.0 will cause the scanner's reported maximum range to be used.", -1, -1, 1000)

# 3D parameters
gen.add("resample_interval", int_t, 0, "Number of filter updates required before resampling.", 2, 0, 20)

exit(gen.generate(PACKAGE, "badger_amcl", "AMCL"))
